//====================================================================================================
.filter {
  border: 4px solid #72c9d4;
  margin: 0px 0px 50px 0px;
  &__title {
    white-space: nowrap;
    padding: 25px 15px 5px 15px;
    color: #36949f;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    transition: all 0.3s ease 0s;
    @media (max-width:$md2+px){
      padding: 25px 15px 25px 15px;
      &._active{
        padding: 25px 15px 5px 15px;
      }
    }
  }
  &__btn {
    padding: 0px 15px;
  }
  &__content {
    @media (max-width:$md2+px){
      display: none;
    }
    @media (min-width:$md2+px){
       display: block !important; 
    }
  }
  &__body {
    
  }
  &__section {}
  &__footer {
    display: flex;
    padding: 15px;
    justify-content: space-between;
  }
}
.section-filter {
  padding: 15px;
  border-bottom: 1px solid #72c9d4;
  &:last-child{
    border-bottom: 0;
  }
  &__title {
    color: #36949f;
    font-size: 16px;
    font-weight: 700;
    line-height: 22 / 16 * 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    cursor: pointer;
    &._spoller {
      &::after{
        content:'';
        border-radius: 50%;
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        border: 1px solid #72c9d4;
        background-color: #fff;
        background: url('../img/icons/li_arrow.png') center no-repeat;
      }
      &._active{
        color: #000;
        &::after{
          border: 1px solid #cbcbcb;
          background: url('../img/icons/spoller-arrow.png') center no-repeat;
        }
      }
    }
  }
  &__checkbox {
    display: block;
    &:not(:last-child) {margin: 0px 0px 15px 0px;}
  }
  &__body {
    padding: 15px 0px 0px 0px;
  }
}
//====================================================================================================
.price-filter {
  &__slider {
    height: 4px;
    background-color: #eaeaea;
    margin: 0px 11px 50px 11px;
    position: relative;
    &::before, &::after{
      content:'';
      background-color: #eaeaea;
      width: 11px;
      height: 4px;
      position: absolute;
      top: 0;
    }
    &::before{
      left: -10px;
    }
    &::after{
      right: -10px;
    }
    .noUi-base, .noUi-connects {
      position: relative;
      height: 4px;
    }
    .noUi-origin, .noUi-connect {
      will-change: transform;
      position: absolute;
      width: 10%;
      height: 10%;
      z-index: 1;
      top: 0;
      right: 0;
      transform-origin: 0 0;
      transform-style: flat;
    }
    .noUi-connect {
      background-color: #ffcda5;
      width: 100%;
      height: 100%;
    }
    .noUi-handle {
      width: 23px;
      height: 23px;
      position: relative;
      top: -9px;
      right: -11px;
      border: 1px solid #f68038;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      &::after{
        content:'';
        position: absolute;
        left: 3px;
        top: 3px;
        width: 15px;
        height: 15px;
        background-color: #f68038;
        border-radius: 50%;
      }
    }
    .noUi-tooltip {
      position: absolute;
      bottom: -22px;
      left: 50%;
      color: #999;
      font-size: 12px;
      font-weight: 300;
      transform: translate(-50%,0px);
    }
  }
  &__values {}
}
.values-price-filter {
  display: flex;
  &__column {
    padding: 0px 15px;
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }
  &__label {
    color: #999;
    font-size: 12px;
    font-weight: 300;
  }
  &__input {
    flex: 1 1 auto;
    padding: 0px 0px 0px 10px;
    input {
      font-size: 12px;
      padding: 0px 10px;
      height: 20px;
    }
  }
}
//========================================================================================================================================================
.compare-filter {
  &__items {
    padding: 0px 13px 0px 0px;
    margin: 0px 0px 20px 0px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {margin: 0px 0px 10px 0px;}
  }
  &__link {
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
  }
  &__remove {
    flex: 0 0 10px;
    line-height: 16px;
    background: url('../img/icons/remove.png') 0 0 no-repeat;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease 0s;
    margin: 0px 0px 0px 5px;
    @media (any-hover: hover){
      &:hover{
        background: url('../img/icons/remove_h.png') 0 0 no-repeat;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 33px;
    background-color: #1ab9ce; 
    padding: 0px 13px;
    border-radius: 25px;
    span {
      background: url('../img/icons/compare.png') left no-repeat;
      padding: 0px 0px 0px 30px;
      line-height: 33px;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      font-size: 14;
      font-weight: 900;
    }
  }
  &__clean {
    border-radius: 50%;
    background: #e6e6e6 url('../img/icons/trash.png') center no-repeat;
    width: 40px;
    height: 40px;
  }
}
//========================================================================================================================================================
.catalog {
  &__title {
    color: #dadada;
    font-family: "UniSans",sans-serif;
    font-size: 30px;
    line-height: 130%;
    margin: 0px 0px 20px 0px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }
  &__actions {
    margin: 0px 0px 15px 0px;
  }
  &__navi {}
}
.actions-catalog {
  background: #f3f3f3; 
  align-items: center;
  padding: 10px 20px;
  @media (min-width: 540px){
    display: flex;
  }
  &__order {
    @media (max-width: 540px){
      margin: 0px 0px 15px 0px;
    }
  }
  &__view {}
}
.order-catalog {
  @media (min-width:$md2+px){
    flex: 1 1 auto;
    display: flex;
    align-items: center; 
  }
  &__label {
    color: #333;
    font-size: 14px;
    font-weight: 900;
    margin: 0px 20px 0px 0px;
    @media (max-width: 540px){
      margin: 0px 0px 15px 0px;
    }
  }
  &__select {}
}
.view-catalog {
  display: flex;
  &__item {
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin: 0px 0px 0px 8px;
    &_grid {
      background: #fff url('../img/icons/grid.svg') center no-repeat;
    }
    &_list {
      background: #4da0b9 url('../img/icons/list.svg') center no-repeat;
    }
    @media (max-width: 540px){
      margin: 0px 10px 0px 0px;
    }
  }
}
.navi-catalog {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 10px 15px;
  @media (min-width: 540px){
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }
  &__show {}
  &__pages {}
  &_top {
    margin: 0px 0px 23px 0px;
  }
}
.show-catalog {
  @media (min-width: 540px){
    display: flex; 
    align-items: center;
  }
  &__label {
    color: #333;
    font-size: 14px;
    font-weight: 900;
    margin: 0px 20px 0px 0px;
    @media (max-width: 540px){
      margin: 0px 0px 15px 0px;
    }
  }
  &__select {}
}
//========================================================================================================================================================




