//====================================================================================================
.page {
  &__slider {}
}
.mainslider {
  &__body {}
  &__slide {
    position: relative;
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__dotts {
    position: relative;
    z-index: 2;
    margin: -27.5px 0px 0px 0px;
    display: flex;
    justify-content: center;
    counter-reset: item;
    .swiper-pagination-bullet {
      cursor: pointer;
      margin: 0px 23px;
      width: 55px;
      height: 55px;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid #fff;
      position: relative;
      background-size: cover;
      border-image-repeat: no-repeat;
      background-position: center;
      &::after{
        opacity: 0;
        transition: all 0.3s ease 0s;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 16px;
        font-weight: 900;
        color: #fff;
        background-color: #f68038;
        counter-increment: item;
        content: counter(item);
      }
    }
    .swiper-pagination-bullet-active { 
      &::after{
        opacity: 1;
      }    
    }
  }
}
.content-mainslider {
  padding: 20px 35px 60px 35px;
  &__title {
    color: #333;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 43 / 48 * 100%;
    margin: 0px 0px 53px 0px;
    span {
      display: block;
      color: #f68038;
    }
  }
  &__text {}
  &__footer {
    padding: 15px 0px 0px 0px;
    text-align: center;
  }
  &__price {
    color: #fff;
    font-size: 36px;
    line-height: 24 / 14 * 100%;
    font-weight: 900;
    margin: 0px 0px 8px 0px;
    &::after{
      font-size: 30px;
      margin: 0px 0px 0px 10px;
    }
  }
  &__button {
    height: 36px;
    border: 3px solid #fff;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
    padding: 0px 20px;
    span {
      color: #fff;
      font-weight: 900;
      text-transform: uppercase;
      padding: 0px 30px 0px 0px;
      background: url('../img/icons/btn_arrow.png') right no-repeat;
    }
  }
}
.text-mainslider {
  color: #333;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24 / 14 * 100%;
  &__text-1 {
    font-size: 18px;
    color: #f68038;
  }
  &__text-2 {
    color: #fff;
    background-color: #92918e;
    display: inline-block;
    padding: 5px 10px;
  }
  &__text-3 {
    color: #979797;
  }
}
//====================================================================================================
