//====================================================================================================
.product {
  &__title {
    color: #333;
    font-size: 36px;
    font-family: "UniSans", sans-serif;
    text-transform: uppercase;
    margin: 0px 0px 18px 0px;
    span {
      display: block;
      font-size: 30px;
      color: #dadada;
    }
  }
  &__content {  
    margin: 0px 0px 35px 0px;
    @media (min-width: 700px){
      display: flex;
    }
  }
  &__images {
    flex: 0 0 360px;
    min-width: 0;
    @media (max-width:$md1+px){
      flex: 0 0 330px; 
    }
    @media (min-width: 700px){
      margin: 0px 0px 30px 0px;
    }
  }
  &__body {
    flex: 1 1 auto;
    @media (min-width: 700px){
      padding: 0px 0px 0px 30px;
    } 
  }
}
//========================================================================================================================================================
.images-product {
  &__mainslider {
    margin: 0px 0px 13px 0px;
  }
  &__mainslide {
    border: 1px solid #f5f5f5;
    height: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__sale {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 58px;
    height: 58px;
    top: 16px;
    left: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f68038;
  }
  &__image {}
  &__subslider {
    margin: 0px -6px;
  }
  &__subslide {
    cursor: pointer;
    padding: 0px 6px;
    &.swiper-slide-thumb-active {
      .images-product__subimage {
        border: 1px solid #f68038;
        &::after{
          opacity: 1;
        }
      }
    }
  }
  &__subimage {
    transition: all 0.3s ease 0s;
    padding: 0px 0px 82% 0px;
    border: 1px solid #e4e4e4;
    &::after{
      content:'';
      transition: all 0.3s ease 0s;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 3px solid #f68038;
    }
  }
}
//========================================================================================================================================================
.body-product {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 12px 0px;
    @media (max-width: 700px){
      padding: 12px 0px;
    }
    border-bottom: 1px solid #ededed;
  }
  &__actions {
    margin: 0px 0px 22px 0px;
  }
  &__include {}
  &__compare {
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 25px;
    min-height: 33px;
    padding: 0px 15px;
    color: #666;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #f3f3f3;
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        background-color: #dbdada;
      }
    }
    span {
      background: url('../img/icons/compare_grey.png') left no-repeat;
      padding: 0px 0px 0px 30px;
      line-height: 21px;
    }
  }
  &__stock {
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 25px;
    height: 21px;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 10px;
    color: #fff;
    background-color: #f68038;
  }
}
//========================================================================================================================================================
.actions-product {
  border-bottom: 1px solid #ededed;
  padding: 30px 0;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px -15px;
    flex-wrap: wrap;
  }
  &__column {
    padding: 0px 15px;
    @media (max-width:$md1+px){
       &:last-child{
         flex: 1 1 100%;
       } 
    }
  }
  &__price {
    white-space: nowrap;
    color: #333;
    font-size: 24px;
    font-weight: 900;
    &::after{
      font-size: 18px;
    } 
    &_old {
      color: #999;
      font-size: 18px;
      font-weight: 300;
      text-decoration: line-through;
      margin: 0px 0px 5px 0px;
      &::after{
        font-size: 14px;
      }
    }
  }
  &__quantity {}
  &__cart {
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 57px;
    padding: 0px 55px 0px 0px;
    position: relative;
    &::after{
      content:'';
      background: url('../img/icons/cart_orange.png') right no-repeat;
      width: 57px;
      height: 57px;
      position: absolute;
      top: 0;
      right: 0;
    }
    span {
      display: flex;
      justify-content:center;
      align-items: center;
      flex: 1 1 100%;
      height: 34px;
      padding: 0px 15px;
      text-transform: uppercase;
      font-weight: 700;
      color: #999;
      background-color: #f3f3f3;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          color: #666;
          background-color: #dbd9d9;
        }
      }
    }
    @media (max-width:$md1+px){
       margin: 15px 0px 0px 0px; 
    }
  }
}
//========================================================================================================================================================
.include-product {
  border-bottom: 1px solid #ededed;
  &__title {
    color: #333;
    font-weight: 900;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
  }
  &__items {
    display: inline-flex;
  }
  &__item {
    text-align: center;
    flex: 0 1 33.333%;
    &:not(:last-child) {margin: 0px 30px 13px 0px;}
  }
  &__icon {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
  }
  &__text {
    display: inline-block;
    max-width: 100px;
    color: #999;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
  }
}
//========================================================================================================================================================

